{% if item.pizza.id %}
<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.pizza.id %}">
    {% csrf_token %}
    <div class="input-group">
        <button type="button" class="btn btn-sm btn-black rounded-0 decrement-qty" data-pizza_id="{{ item.pizza.id }}">
            <i class="fas fa-minus fa-sm"></i>
        </button>
        <input type="number" name="quantity" value="{{ item.quantity }}" class="form-control form-control-sm qty_input" id="id_qty_{{ item.pizza.id }}" min="1" max="99">
        <button type="button" class="btn btn-sm btn-black rounded-0 increment-qty" data-pizza_id="{{ item.pizza.id }}">
            <i class="fas fa-plus fa-sm"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm mt-2 remove-item" data-pizza_id="{{ item.pizza.id }}">
            Remove
        </button>
    </div>
</form>
{% endif %}
