{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Header with background image -->

    <section class="header-container">
        <div class="text-overlay text-left">
            <h1 class="display-3">Welcome to Slice of Italy</h1>
            <p class="lead">Savor the true Italian flavor delivered right to your door.</p>
            <hr class="my-4">
        </div>
    </section>

    <!-- Example section showing some featured pizzas -->
    <section class="featured-pizzas">
        <div class="container">
            <h2 class="text-center mb-4">Featured Pizzas</h2>
            <div class="row">
                <!-- Placeholder for pizza items -->
                {% for pizza in featured_pizzas %}
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="{{ pizza.featured_image.url }}" class="card-img-top" alt="{{ pizza.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pizza.name }}</h5>
                            <p class="card-text">{{ pizza.description }}</p>
                            <a href="{% url 'pizzas:detail' pizza.id %}" class="btn btn-outline-primary">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Image section -->
    <section class="image-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <img src="{{ MEDIA_URL }}foad-roshan-Y6OgisiGBjM-unsplash.jpg" class="img-fluid" alt="Image 1">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="{{ MEDIA_URL }}ivan-torres-MQUqbmszGGM-unsplash.jpg" class="img-fluid" alt="Image 2">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="{{ MEDIA_URL }}peperoni.jpg" class="img-fluid" alt="Image 3">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <!-- Other footer content -->
        <div class="footer-content">
          <div class="footer-text">
            <h3>About Us</h3>
            <p>Slice of Italy: Bringing the taste of Italy to Dublin.</p>
          </div>
          <div class="location">
            <p><strong>Location:</strong> 123 Main Street, Dublin, Ireland</p>
          </div>
          <div class="opening-hours">
            <p><strong>Opening Hours:</strong></p>
            <ul>
              <li>Monday - Thursday: 11:00 AM - 10:00 PM</li>
              <li>Friday - Saturday: 11:00 AM - 11:00 PM</li>
              <li>Sunday: 12:00 PM - 9:00 PM</li>
            </ul>
          </div>
        </div>
      </footer>
      
{% endblock %}
