/* base.css */

:root {
  --primary-color: #008d41; /* Italian green */
  --secondary-color: #F4F4F4; /* Off-white background */
  --accent-color: #CE2B37; /* Italian red */
  --text-color: #333; /* Charcoal color for text */
  --footer-background: #333; /* Dark footer background */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Lobster', cursive;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-primary);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.text-overlay {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 1em;
  background-color: rgb(0 0 0 / 19%);
  color: #333;
  box-sizing: border-box;
  z-index: 2;
}

.text-overlay h1 {
  font-family: var(--font-secondary);
  margin-bottom: 20px;
  color: #fbe8e8;
}

.text-overlay p {
  margin-bottom: 30px;
  color: #fbe8e8;
}

header {
  background: transparent;
  padding: 10px 0;
  text-align: left;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--accent-color);
}

footer {
  background: var(--footer-background);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative; /* Changed from absolute to relative */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto; /* Added some margin to the top and bottom */
}

.footer-text, .location, .opening-hours {
  width: 30%;
  text-align: left;
  font-size: 14px;
}

.opening-hours ul {
  padding: 0;
  margin: 0;
}

.opening-hours ul li {
  margin-bottom: 3px;
  list-style-type: none;
}

.image-section,
.featured-pizzas {
  padding: 50px 0;
  margin: 0 auto;
}

.image-section img,
.featured-pizzas img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.header-container {
  position: relative;
  height: 60vh; /* or whatever height you prefer */
  background-image: url('/media/main-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Additional styles for buttons and links */
.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

/* Responsive design improvements */
@media (max-width: 768px) {
  .text-overlay {
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-text, .location, .opening-hours {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .container {
    width: 95%;
  }
}