html {
  height: 100%;
}

body {
  background: url('/media/ivan-torres-MQUqbmszGGM-unsplash (1).jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007bff;
}

/* Button Styles */
.btn, .shop-now-button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-outline-black {
  background-color: white;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover, .btn-outline-black:focus, .btn-outline-black:active {
  background-color: black;
  color: white !important;
}

.shop-now-button:hover, .shop-now-button:focus, .shop-now-button:active, .btn-black:hover, .btn-black:focus, .btn-black:active {
  background-color: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background-color: #000 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

/* Scroll to Top Button */
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link, .update-link, .remove-item {
  cursor: pointer;
}

/* Form Placeholder */
input[name='q']::placeholder {
  color: #aab7c4;
}

/* Toast Messages */
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Allauth Form Styling */
.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d;
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button, .allauth-form-inner-content input[type='submit'] {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover, .allauth-form-inner-content input[type='submit']:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8;
}

/* File Input Button */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Footer Styles */
footer.container-wrapper {
  z-index: 1000;
  background-color: white !important;
}

footer .quotes-container {
  padding: 2rem;
}

footer h2, footer h3 {
  font-size: 1.5rem;
  color: #333;
}

footer a {
  color: #007bff;
}

footer a:hover {
  color: #0056b3;
}

footer .block-divider {
  border-color: #eee;
}

footer .fab {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 600px;
  margin: 0;
}

#mc_embed_signup form {
  margin: 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  footer .quotes-container {
    padding: 1rem;
  }

  .display-4.logo-font.text-black {
    font-size: 2rem;
  }

  .nav-link {
    padding: 0.15rem;
  }

  .nav-link i.fa-lg {
    font-size: 1rem;
  }

  .navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
  }

  #delivery-banner h4 {
    font-size: .9rem;
  }

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
    padding: .375rem .375rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
    padding: .375rem .375rem;
    font-size: .75rem;
  }

  .increment-qty, .decrement-qty {
    padding: .25rem .5rem !important;
  }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Checkout Styles */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: .5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 162, 184, .85);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

/* Profile Styles */
.order-history {
  max-height: 416px; /* height of profile form + submit button */
  overflow-y: auto;
}

#profile-update-form .form-control {
  color: #000;
}

#profile-update-form input::placeholder {
  color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#id_default_country option:first-child {
  color: #aab7c4;
}

/* Media Queries for Different Devices */

/* Smartphones (portrait and landscape) */
@media (max-width: 767px) {
  body {
    height: auto;
    padding-bottom: 50px; /* to ensure space for footer */
  }

  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .header-container {
    padding-top: 80px;
  }

  .display-4.logo-font.text-black {
    font-size: 1.75rem;
  }

  .shop-now-button,
  .btn-black,
  .btn-outline-black {
    width: 100%;
    padding: 0.75rem 1rem;
  }

  .overlay {
    background: rgba(255, 255, 255, 0.9);
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 991px) {
  .header-container {
    padding-top: 100px;
  }

  .display-4.logo-font.text-black {
    font-size: 2.25rem;
  }

  .shop-now-button,
  .btn-black,
  .btn-outline-black {
    width: auto;
    padding: 0.5rem 1rem;
  }
}

/* Desktops and larger screens */
@media (min-width: 992px) {
  .header-container {
    padding-top: 164px;
  }

  .display-4.logo-font.text-black {
    font-size: 3rem;
  }

  .shop-now-button,
  .btn-black,
  .btn-outline-black {
    width: auto;
    padding: 0.75rem 1.5rem;
  }
}
